POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
CORS_ALLOWED_ORIGIN=http://localhost:3000